.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 247, 247); ;
  width: 100vw;
  height: 100vh;
}
.drop{
  box-sizing: border-box;
  width: 338px;
  height: 270px;
display: flex;

align-items: center;
justify-content: center;
  background: #F6F8FB;
  border: 1px dashed #97BEF4;
  border-radius: 12px;
  font-family: 'Montserrat';
  color: #BDBDBD;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
margin-top: 25px;
  
}
.main{
  border: 5px;
  border-radius: 15px;
  border-color: black;
  background-color: white;
  width: 25vw;
  height: 58vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
display: flex;
justify-content: center;

}
.load{
  border: 5px;
  border-radius: 15px;
  border-color: black;
  background-color: white;
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
flex-direction: column;
}
.title{
  font-size: large;
  font-family: "Montserrat";
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  color: #303030;
}
.up{
  font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
color: #4F4F4F;
margin-top: 20px;
}
.spin{
  margin-top: 15px;
}

.subtitle{
  font-size: small;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  color: #6e6868;
}
.iconm{
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  margin-left: 20%;
  margin-top: 10px;

}
.indrop{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.ima{
  max-width: 350px;
  height: 250px;
  margin-bottom: 10px;
  margin-top: 15px;
  border-radius: 15px;
}
.succes{
  display: flex;
  align-items: center;
  margin-top: 7%;
  
  flex-direction: column;
}
.check{
  width: 35px;
  height: 35px;
}
.copy{
  margin-top: 20px;
  width: 350px;
}
.or{
  font-family: 'Montserrat';
  color: #BDBDBD;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 18px;
margin-top: 35px;
display: flex;
align-items: center;
justify-content: center;
}
.choose{
  font-family: 'Montserrat';

font-style: normal;

margin-top: 25px;
display: flex;
align-items: center;
justify-content: center;
}